{{#each burger}}
    <div class="row">
        <div class="col-md-4 offset-md-2" id="undevouredCont">
            {{#unless this.devoured}}
                <div class="undevoured">
                    {{this.id}}. {{this.burger_name}}
                    <form action="index/update/{{this.id}}?_method=PUT" method="POST">
                        <input type="submit" value="Devour">
                    </form>
                </div>
            {{/unless}}
        </div>
        <div class="col-md-4 offset-md-2" id="devouredCont">
            {{#if this.devoured}}
                <div class="devoured">
                    {{this.id}}. {{this.burger_name}}
                </div>
            {{/if}}
        </div>
    </div>
{{/each}}
